.head-section {
    background: #fff;
    border-bottom: solid 1px $pinkish-grey;
}

.all-header {
    height: 6rem;
}

.tab-header {
    height: 9rem;
}

.header-container {
    padding: 1.4rem 0rem 1.5rem 0rem;
    .welcome {
        display: flex;
        margin-left: 3.46rem;
        .welcome-user {
            padding-top: 0.5rem;
            display: flex;
        }
        .lock {
            padding-right: 0.8rem;
        }
        .main-text {
            display: inline-block;
            .head-text {
                font-family: DroidSans;
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #2b3a42;
                padding-top: 2%;
            }
            .subhead-text {
                font-family: DroidSans;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3e5766;
            }
        }
        .logout-section {
            display: inline-block;
            margin-left: 5rem;
            padding: 10px 14px;
            background-color: #ff5200;
            position: relative;
            top: -10px;
            color: #fff;
            border-radius: 5px;
        }
        .breadcrumb-section {
            display: inline-block;
            .breadcrumb-text {
                display: inline-block;
                color: #3e5766;
                font-family: DroidSans;
                font-size: 12px;
                font-stretch: normal;
                font-style: normal;
                font-weight: normal;
                letter-spacing: normal;
                line-height: normal;
                text-transform: uppercase;
                width: 100%;
                a {
                    color: #3e5766;
                }
                 :hover {
                    text-decoration: underline;
                }
            }
            .title {
                color: #2b3a42;
                font-family: DroidSans;
                font-size: 36px;
                font-stretch: normal;
                font-style: normal;
                font-weight: normal;
                letter-spacing: -1px;
                line-height: normal;
                margin-left: -3px;
                margin-top: -6px;
            }
        }
    }
    .logo-container {
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        display: inline;
        width: 4rem;
        background-color: transparent !important;
        img {
            width: 3.8rem;
        }
    }
}

.top-help-button {
    font-size: 12px;
    position: absolute;
    right: 8rem;
    top: 3rem;
    padding: 2px 10px;
    background: $blood-orange;
    color: #fff;
    border-radius: 10px;
}

.top-help-modal-button {
    font-size: 12px;
    position: absolute;
    right: 9rem;
    top: 1.5rem;
    padding: 2px 10px;
    background: #ff5200;
    color: #fff;
    border-radius: 10px;
}

.top-help-tab-button {
    font-size: 12px;
    position: absolute;
    right: 1.3rem;
    top: 1rem;
    padding: 2px 10px;
    background: #ff5200;
    color: #fff;
    border-radius: 10px;
    z-index: 9;
}

.top-help-modal-dailog-button {
    font-size: 12px;
    position: absolute;
    right: 8rem;
    top: 2.3rem;
    padding: 2px 10px;
    background: #ff5200;
    color: #fff;
    border-radius: 10px;
}

.top-help-custom-button {
    font-size: 12px;
    position: absolute;
    right: 9.5rem;
    top: 3.5rem;
    padding: 2px 10px;
    background: #ff5200;
    color: #fff;
    border-radius: 10px;
}