  .md-open-menu-container {
    margin-left: 82px !important;
  }
  
  .md-menu.md-active {
    background-color: $white !important;
  }
  
  .sidebar-navigation {
    background-color: $bg-darkGrey;
    overflow: hidden;
    min-height: 130%;
    .md-button {
      margin: 5px 2px;
      p {
        color: $white;
        font-size: 0.7em;
        font-weight: bold;
        border-bottom: 1px solid #455057;
        padding-bottom: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 72px;
      }
      .sidebar-navigation-button-icon {
        height: 2.2em;
        width: 2.2em;
        padding-top: 0.6em;
      }
      .sidebar-navigation-button-home-icon {
        width: 2.3rem;
        padding: 1rem 0;
        border-bottom: 1px solid #455057;
      }
      md-icon {
        box-sizing: initial !important;
      }
    }
    .side-menu {
      _md {
        top: 172px !important;
        left: 190px !important;
        transform-origin: left top 0px;
      }
    }
    global-search {
      .md-open-menu-container {
        height: 70px;
      }
    }
    .nav-active-class {
      background-color: white !important;
      border-radius: 5px 0 0 5px;
      md-icon {
        svg * {
          fill: $blood-orange;
        }
      }
      p {
        color: $bg-darkGrey !important;
      }
    }
  }
