
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li>
      <div class="dropdown">
        <button class="dropbtn">Profile</button>
        <div class="dropdown-content">
          <a ng-click="$ctrl.goToEditProfile()">Edit Profile</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </li>
    <li><a ng-click="$ctrl.logoutUser()">Logout</a></li>
  </ul>
</nav>




<!-- <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>


<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <ul >
      <li><a ui-sref="app.editProfile">Message</a></li>
      <li><a ui-sref="#11">Acceptance</a></li>
      <li><a ui-sref="#22">All messages</a></li>
      <li><a ui-sref="#22">Photo Request</a></li>
      <li><a ui-sref="#33">Viewed Contacts</a></li>
      <li><a ui-sref="#33">Declined/Cancelled/a></li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Marry Call-123</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
     
       <li>
              <a ui-sref="#">Message Box</a>
              <ul >
                <li><a ui-sref="app.editProfile">Message</a></li>
                <li><a ui-sref="#11">Acceptance</a></li>
                <li><a ui-sref="#22">All messages</a></li>
                <li><a ui-sref="#22">Photo Request</a></li>
               
                 <li><a ui-sref="#33">Viewed Contacts</a></li>
                 <li><a ui-sref="#33">Declined/Cancelled/a></li>
              </ul>
        </li>

       <li>
              <a ui-sref="#">My Matches</a>
              <ul >
                <li><a ui-sref="app.editProfile">Member Similar My Profile</a></li>
                <li><a ui-sref="#11">Desired Patrner Matches</a></li>
                <li><a ui-sref="#22">Profile visitor</a></li>
                <li><a ui-sref="#22">Shortlisted Profile</a></li>
                <li><a ui-sref="#22">Profile </a></li>
                
              </ul>
        </li>

       <li>
              <a ui-sref="#">Search</a>
              <ul >
                <li><a ui-sref="#">Quick Search</a></li>
                <li><a ui-sref="#11">Advance Search</a></li>
                <li><a ui-sref="#22">Saved Search</a></li>
               <li><a ui-sref="#22">Search By Id</a></li>
              </ul>
        </li>
        <li>
              <a ui-sref="#">My profile</a>
              <ul >
                <li><a ui-sref="app.editProfile">Edit My Profile</a></li>
                <li><a ui-sref="#11"> Edit Desired Partner Profile</a></li>
                <li><a ui-sref="#22">Upload Photo </a></li>
                <li><a ui-sref="#22">Edit Settings </a></li>
                <li><a ui-sref="#22">Edit Verification Documents </a></li>
                <li><a ui-sref="#22">Profile Preview </a></li>
                <li><a ui-sref="#33">Change Password</a></li>
              </ul>
        </li>
         <li><a ui-sref="app.editProfile">Help</a></li>
           <li><a ui-sref="app.editProfile">Notification</a></li>
           <li><a ui-sref="app.editProfile">Logout</a></li>
           <li><a ui-sref="app.editProfile">upgrade </a></li>

    </ul>
  
  </div>
</nav>


 -->