<style>
.modal-content h4{margin:0px;}
</style>

<div type="text/ng-template"
     id="validationErrorModal.html">
    <div class="modal-header" style='background-color: red; padding:0px'>
   
    </div>
    <div class="modal-body">
        <div class="container">
             <h4 class="modal-title"
            ng-bind="$ctrl.title"></h4>
            <div ng-repeat="error in $ctrl.errors">
                {{ error.message }}
            </div>
        </div>
    </div>

    <div class="modal-footer" ng-if="$ctrl.isPrompt">
        <md-button class="btn secondary-button"
                type="button"
                ng-click="$ctrl.cancelAction()">
            Cancel
        </md-button>
        <md-button class="btn primary-button"
                type="button"
                ng-click="$ctrl.continueAction()">
            Continue
        </md-button>
    </div>
    <div class="modal-footer" ng-if="!$ctrl.isPrompt">
        <md-button class="btn primary-button"
                type="button"
                ng-click="$ctrl.okAction()">
            OK
        </md-button>
    </div>
</div>

<style>
.primary-button, .secondary-button {background-color: red !important;}
</style>