<!-- <md-input-container>
    <md-datepicker aria-label="custom datepicker" ng-model="$ctrl.date" name="{{$ctrl.name}}" ng-disabled="!$ctrl.editable" ng-change="$ctrl.dateChanged()" md-min-date="$ctrl.minDate" md-max-date="$ctrl.maxDate" md-open-on-focus ng-required="$ctrl.required">
    </md-datepicker>
</md-input-container> -->
<md-datepicker aria-label="custom datepicker" ng-model="$ctrl.date" name="{{$ctrl.name}}" ng-disabled="!$ctrl.editable" ng-change="$ctrl.dateChanged()" md-min-date="$ctrl.minDate" md-max-date="$ctrl.maxDate" md-open-on-focus ng-required="$ctrl.required" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
